.contacto {
  padding-bottom: 50px;
}

.cuadro_principal {
  width: 1200px;
  height: 500px;
  background-color: var(--main-color);
  margin: auto;
  border-radius: 10px;
}

.container_info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.container_info pre {
  font-family: var(--main-font);
}

.izquierda_contacto {
  text-align: left;
  padding-right: 75px;
}

.derecha_contacto {
  text-align: left;
  margin-top: -30px;
}

span {
  font-size: 30px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  display: block;
  width: 300px;
  padding: 5px;
  border: 1px solid #222222;
  border-radius: 5px;
  background-color: #fff;
  color: var(--text-color-inverse);
}

.form-group textarea {
  resize: none;
}

.formulario button {
  display: block;
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background: var(--text-color-inverse);
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}

.redes_sociales {
  display: flex;
  font-size: 35px;
  margin-left: 65px;
}

.redes_sociales p {
  padding-right: 35px;
  margin-top: -5px;
}

@media (max-width: 760px) {
  .cuadro_principal {
    width: 650px;
    height: 730px;
    background-color: var(--main-color);
    margin: auto;
    border-radius: 10px;
  }

  .container_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }

  .izquierda_contacto {
    text-align: left;
    padding-right: 15px;
    
  }
  .derecha_contacto {
    text-align: left;
    padding-right: 20px;
    margin-top: -10px;
  }

  .redes_sociales p {
  padding-right: 35px;
  margin-top: -10px;
}
}
